.projecttop h1 {
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}
.project{
    padding-top: 30px;
    background-color: #fff;
    padding-bottom: 40px;
} 

.card{
    background-color: #fff;
    display: flex;
    gap: 30px;
}
.card img {
    border-radius: 20px;
    text-align: center;
    height: 250px;
    width: 300px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
